.header-nav {
    height: 80px;
    background-color: rgb(99, 98, 98);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}

.header-nav h1 {
    font-size: 1.3em;
    margin: 0;
}

.header-nav {
    height: 100%;
}

.header-nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    gap: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

.header-nav li {
    height: 80px;
    display: inline-block;
}

.header-nav a {
    color: white;
    display: flex;
    height: 80px;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.header-nav a:hover,
.header-nav .current {
    text-decoration: underline;
    background-color: rgb(75, 73, 73);
    transition: background-color 0.4s ease;
}
