<div class="about-info">
<h2>Om uppgfiften</h2>
<p>Jag började med att skapa ett Angular projekt genom att installera Angular CLI med kommandot <code>npm install -g anugular/cli</code>,
    för att sedan köra <code>ng new my-angular-app</code> för att skapa själva projektet. Därefter gjorde jag komponenter för undersidorna "Home",
"About" och "Convert", jag gjorde även komponenter för "header" och "footer" för att enkelt kunna dela upp CSS för det eftersom jag ville ha samma på alla sidor.
<br><br>
    Eftersom det skulle vara en komponent på en undersida så skapade jag det på "about.component.ts" där jag gjorde komponent för min konverterare.
    Där har jag skapat metoder för att konvertera värden fram och tillbaka mellan celsius och fahrenheit, och mellan meter och fot.<br><br>
    För att koppla ihop det till min HTML-kod har jag använt mig av "Two-way binding" och ngModel, och gjort olika knappar för varje värde. 
    Då när man lägger in ett värde i input fältet så kan man sedan klicka på den knapp man vill konvertera till så får man det nya värdet i resultatet. 
    I resultatet använde jag mig av "Interpolation" för att koppla ihop datan till HTML-koden.
</p>

<h3>Slutsatser</h3>
<p>Under arbetets gång med denna uppgift har jag lärt mig hur man enkelt kan använda sig av komponenter för att strukturera upp min kod,
    både att göra komponenter för undersidor och även återkommande kod för header och footer, som gjordde att man fick en väldigt bra överblick över projektet.
    Jag tyckte att Angular var enkelt att komma igång med och med teorimaterialet så har det gått bra att uföra uppgiften.  
</p>
</div>