<section class="start-page">
<div class="image">
<img [src]="startImage" alt="Termometer med både grader i celsius och fahrenheit">
</div>

<div clasS="text-info">
<h2>Konvertera värden - med ett klick!</h2>
<p>På vår sida kan du enkelt konvertera mellan Celsius och Fahrenheit samt meter och fot.
    Fyll i ditt värde för att sedan med ett klick få ut ditt nya värde.<br><br>
    Gå till sidan "Konvertera" och testa direkt!
</p>
<button routerLink="/convert">Konverterare</button>
</div>
</section>